<h2 id="title">Welcome to Ember</h2>
<div style="height: 1500px">
  {{ dashboards/load-visualizations model=model caipirinhaUrl='https://teste.ctweb.inweb.org.br/caipirinha' className='row'}}
</div>

{{outlet}}
