<h2 id="title">Welcome to Ember</h2>

<div style="height: 1500px">
  {{ dashboards/load-visualizations
    model=model
    visualizations=model.visualizations
    className='row'
  }}
</div>

{{outlet}}
